/*==================== GOOGLE FONTS ====================*/
@font-face {
  font-family: arial;
  src: url("../font/arial.ttf");
}
@font-face {
  font-family: iCielPacifico;
  src: url("../font/iCielPacifico.otf");
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: arial;
  font-size: 1rem;
  background-color: #FFF;
  color: #000;
}

h1, h2, h3, h4 {
  color: #000;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
textarea {
  resize: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: var(--input-color) !important;
    color: var(--text-color) !important;
    -webkit-box-shadow: 0 0 0 1000px var(--input-color) inset !important;
    -webkit-text-fill-color: var(--text-color) !important;
}

/*==================== Header ====================*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  z-index: 999;
}
.image__header-logo{
  width: 200px;
  padding: 12px;
}
.title__header-list{
  display: flex;
  align-items: center;
}
.title__header-item{
  display: inline;
  padding-right: 24px;
}
.title__header-link{
  text-decoration: none;
  color: #000;
}
.title__header-link:hover{
  color: #8f387f;
}
.shopping__mall{
  width: 30px;
  margin: 0 20px;
}

/*==================== Product ====================*/
.product{
  margin: 0 48px;
  margin-top: 7rem;
}
.product-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0;
}
.product-item{
  width: 150px;
  height: 220px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 8px;
  box-shadow: 3px 3px #999;
  margin: 0 6px;
}
.product-link:hover{   
  transform: translateY(-4px);
}
.product-img{
  display: block;
  margin: auto;
  margin-top: 20px;
  height: 60px;
}
.product-item h3{
  color: #000;
  margin: 16px 8px 0 8px;
}
.product-item h5{
  color: #000;
  margin: 4px 4px 0 8px;
}
.product-old{
  color: #666;
  margin: 4px 4px 0 8px;
  text-decoration: line-through;
}
.product-vote{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-start,
.product-heart{
  margin: 4px 8px 0 8px;
}
.product-img-start,
.product-img-heart{
  width: 12px;
}
.product-add{
  display: flex;
  margin: auto;
  width: 120px;
  height: 30px;
  margin-top: 8px;
  background-color: #8f387f;
  border-radius: 4px;
}
.product-add h6{
  color: #FFF;
  margin:auto;
}

.footer{
  padding-top: 2rem;
  height: 150px;
  background-color: #8f387f;
}
.footer-logo{
  width: 150px;
  display: block;
  margin: auto;
}
.footer-text{
  text-align: center;
  color: #FFF;
  margin-top: 12px;
}

.form-login{
  background-color: #cfa5c3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.image_header-logo2{
  width: 350px;
  margin-top: 40px;
}
.input{
  margin-top: 40px;
  display: block;
  align-items: center;
}
.textbox_username,
.textbox_password{
  margin-top: 8px;
}
.input-textbox{
  width: 300px;
  height: 40px;
  padding: 12px;
  border: 1px solid #2e3442;
  border-radius: 12px;
  font-size: 1rem;
}
.button_login{
  margin-top: 10px;
}
.input-button{
  width: 300px;
  height: 40px;
  padding: 8px;
  background-color: #8f387f;
  color: #FFF;
  font-size: 1em;
  border: 1px solid #8f387f;
  border-radius: 12px;
}
.input-button:hover{
  cursor: pointer;
}

.button_register{
  margin-top: 10px;
}
.input-button-register{
  width: 300px;
  height: 30px;
  padding: 8px;
  background-color: #2e3442;
  color: #FFF;
  font-size: 0.8em;
  border: 1px solid #2e3442;
  border-radius: 12px;
}
.input-register:hover{
  cursor: pointer;
}